@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Lemon';
    src: url('../public/font/LemonMilk.otf');
  }
  

  @keyframes ripple {
    to {
      transform: scale(2);
      opacity: 0;
    }
  }